@import "./node_modules/bootstrap/less/bootstrap";

@brand-red : #9E004F;
@brand-orange : #DF781C;
@brand-purple : #472F91;
@brand-green : #73A534;

@border-radius-base:        0;
@border-radius-large:       0;
@border-radius-small:       0;

 @navbar-margin-bottom : 0;

html, body {
    height : 100%
}

body {
    padding-top : 51px;
}

main {
    position : relative;
    display : block;
    height : 100%;
}

.navbar {
    transition: background-color 0.2s ease;
}

.navbar-back {
    position : absolute;
    left : 0;
    top : 0;
    padding : 15px;
    color : #FFF;
    font-size : 14px;
    line-height: 1.42857143;

    &:active,
    &:focus,
    &:visited,
    &:hover {
        color : #FFF;
    }
}

.navbar-text {
    float:none !important;
    font-size : 20px;
    line-height: 1;
}

.btn-block-flexbox {
    display : flex;
    height : 100%;
    width : 50%;
    float : left;
    flex-direction: column;
    margin-top : 0 !important;
}

.btn-block-flexbox .btn {
    flex : 1;
    border-radius: 0 !important;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-block-flexbox .btn .btn-text {
    font-size : 2rem;
}

.btn-brand-red {
  .button-variant(@btn-primary-color; @brand-red; transparent);
}

.btn-brand-orange {
  .button-variant(@btn-primary-color; @brand-orange; transparent);
}

.btn-brand-purple {
  .button-variant(@btn-primary-color; @brand-purple; transparent);
}

.btn-brand-green {
  .button-variant(@btn-primary-color; @brand-green; transparent);
}

.list-group {
  margin-bottom: 0;
}

.navbar-red {
    background-color : @brand-red;
    border-color : darken(@brand-red, 10%);
    color : #FFF;

    .navbar-text {
        color : #FFF;
    }
}
.navbar-orange {
    background-color : @brand-orange;
    border-color : darken(@brand-orange, 10%);
    color : #FFF;

    .navbar-text {
        color : #FFF;
    }
}
.navbar-purple {
    background-color : @brand-purple;
    border-color : darken(@brand-purple, 10%);
    color : #FFF;

    .navbar-text {
        color : #FFF;
    }
}

.map {
    margin-top : 20px;
}

.list-group-item[data-toggle="collapse"] {
    cursor : pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media (min-width : 1024px) {
    html {
        width : 375px;
        height : 627px;
        margin : 1em auto;
        overflow: hidden;
        background : #ddd;
        position : relative;
        border: 3px solid #999;
        border-radius: 6px;
    }

    body {
        overflow: hidden;
        overflow-y: auto;
        background : #fff;
    }

    .navbar-fixed-top {
        position: absolute;
    }
}

.agenda-list-group {
    .fa {
        margin-top : 8px;
        color : #d0cdcd;
    }
}
