<ul class="list-group">
    <li class="list-group-item" data-toggle="collapse" data-target="#agenda1">
        <strong>Emerging Technologies</strong><br>
        Alun &amp; Tom

        <div class="collapse" id="agenda1">
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iste, quam provident sit neque numquam hic quaerat ipsum excepturi modi.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda2">
        <strong>Salesforce</strong><br>
        Bianca &amp; Jadene

        <div class="collapse" id="agenda2">
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iste, quam provident sit neque numquam hic quaerat ipsum excepturi modi.</p>
        </div>
    </li>

    <!-- <li class="list-group-item">
        <strong>Business Change 2016</strong><br>
        TBA
    </li> -->

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda3">
        <strong>Continuous Integration</strong><br>
        Emile &amp; Jon

        <div class="collapse" id="agenda3">
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iste, quam provident sit neque numquam hic quaerat ipsum excepturi modi.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda4">
        <strong>JIRA</strong><br>
        Ian &amp; Jimmy

        <div class="collapse" id="agenda4">
            <hr>
            <p>The Market Leading Project delivery tool used by Agile teams focusing on collaboration and maximising team efficiency.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda5">
        <strong>Server Virtualisation</strong><br>
        Stuart

        <div class="collapse" id="agenda5">
            <hr>
            <p>Saves money, Reduces downtime - Enables the business to be more agile and responsive, Speeds things up and transforms data recovery.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda6">
        <strong>Security</strong><br>
        Peter &amp; Paul

        <div class="collapse" id="agenda6">
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iste, quam provident sit neque numquam hic quaerat ipsum excepturi modi.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda7">
        <strong>MobileConnect</strong><br>
        Keith &amp; Ian

        <div class="collapse" id="agenda7">
            <hr>
            <p>Deviceconnect – the mobile application platform for manual and automated testing of websites and mobile apps.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda8">
        <strong>Mobile Access</strong><br>
        Mark &amp; Richard

        <div class="collapse" id="agenda8">
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iste, quam provident sit neque numquam hic quaerat ipsum excepturi modi.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda9">
        <strong>Business Intelligence</strong><br>
        Tim &amp; Carl

        <div class="collapse" id="agenda9">
            <hr>
            <p>Presenting why traditional "Business Intelligence" fails to deliver on the "intelligence", and how "Data Visualization" is the way forward.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda10">
        <strong>Network Monitoring</strong><br>
        Derek &amp; Jordan

        <div class="collapse" id="agenda10">
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iste, quam provident sit neque numquam hic quaerat ipsum excepturi modi.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda11">
        <strong>AppDynamics</strong><br>
        James &amp; Anthony

        <div class="collapse" id="agenda11">
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iste, quam provident sit neque numquam hic quaerat ipsum excepturi modi.</p>
        </div>
    </li>
</ul>
