<ul class="list-group agenda-list-group">
    <li class="list-group-item" data-toggle="collapse" data-target="#agenda1">
        <div class="clearfix">
            <i class="fa fa-chevron-circle-down pull-right fa-2x fa-fw"></i>
            <strong>Emerging Trends</strong><br>
            Alun &amp; Tom
        </div>

        <div class="collapse agenda-item" id="agenda1">
            <hr>
            <p>How will technology affect our business, what’s changing in enterprise IT &amp; how are companies responding, how can Simplyhealth stand out in the digital world?</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda2">
        <div class="clearfix">
            <i class="fa fa-chevron-circle-down pull-right fa-2x fa-fw"></i>
            <strong>Salesforce</strong><br>
            Bianca &amp; Jadene
        </div>

        <div class="collapse agenda-item" id="agenda2">
            <hr>
            <p>Demonstrating the latest Salesforce has to offer; featuring exciting new enhancements and demonstrations of existing functionality.</p>
        </div>
    </li>

    <!-- <li class="list-group-item">
        <strong>Business Change 2016</strong><br>
        TBA
    </li> -->

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda3">
        <div class="clearfix">
            <i class="fa fa-chevron-circle-down pull-right fa-2x fa-fw"></i>
            <strong>Continuous Integration</strong><br>
            Emile &amp; Jon
        </div>

        <div class="collapse agenda-item" id="agenda3">
            <hr>
            <p>Continuous Integration (CI) is a software development practice that accelerates code delivery by automation.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda4">
        <div class="clearfix">
            <i class="fa fa-chevron-circle-down pull-right fa-2x fa-fw"></i>
            <strong>JIRA</strong><br>
            Ian &amp; Jimmy
        </div>

        <div class="collapse agenda-item" id="agenda4">
            <hr>
            <p>The Market Leading Project delivery tool used by Agile teams focusing on collaboration and maximising team efficiency.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda5">
        <div class="clearfix">
            <i class="fa fa-chevron-circle-down pull-right fa-2x fa-fw"></i>
            <strong>Server Virtualisation</strong><br>
            Stuart
        </div>

        <div class="collapse agenda-item" id="agenda5">
            <hr>
            <p>Saves money, Reduces downtime - Enables the business to be more agile and responsive, Speeds things up and transforms data recovery.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda6">
        <div class="clearfix">
            <i class="fa fa-chevron-circle-down pull-right fa-2x fa-fw"></i>
            <strong>Security</strong><br>
            Peter &amp; Paul
        </div>

        <div class="collapse agenda-item" id="agenda6">
            <hr>
            <p>A demonstration of Simplyhealth’s Security controls, the daily risks we face and some recommendations you can use at home to protect yourselves.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda7">
        <div class="clearfix">
            <i class="fa fa-chevron-circle-down pull-right fa-2x fa-fw"></i>
            <strong>MobileConnect</strong><br>
            Keith &amp; Ian
        </div>

        <div class="collapse agenda-item" id="agenda7">
            <hr>
            <p>Deviceconnect – the mobile application platform for manual and automated testing of websites and mobile apps.</p>
        </div>
    </li>

    <li class="list-group-item" data-toggle="collapse" data-target="#agenda8">
        <div class="clearfix">
            <i class="fa fa-chevron-circle-down pull-right fa-2x fa-fw"></i>
            <strong>Mobile Access</strong><br>
            Mark &amp; Richard
        </div>

        <div class="collapse agenda-item" id="agenda8">
            <hr>
            <p>Showcasing how mobile working enhances productivity and empowerment in the workplace and out on the road.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda9">
        <div class="clearfix">
            <i class="fa fa-chevron-circle-down pull-right fa-2x fa-fw"></i>
            <strong>Business Intelligence</strong><br>
            Tim &amp; Carl
        </div>

        <div class="collapse agenda-item" id="agenda9">
            <hr>
            <p>Presenting why traditional "Business Intelligence" fails to deliver on the "intelligence", and how "Data Visualisation" is the way forward.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda10">
        <div class="clearfix">
            <i class="fa fa-chevron-circle-down pull-right fa-2x fa-fw"></i>
            <strong>Network Monitoring</strong><br>
            Derek &amp; Jordan
        </div>

        <div class="collapse agenda-item" id="agenda10">
            <hr>
            <p>Solarwinds – Monitoring the performance of Simplyhealth’s network and Servers, reducing downtime and impact on the business.</p>
        </div>
    </li>

    <li class="list-group-item"  data-toggle="collapse" data-target="#agenda11">
        <div class="clearfix">
            <i class="fa fa-chevron-circle-down pull-right fa-2x fa-fw"></i>
            <strong>AppDynamics</strong><br>
            James &amp; Anthony
        </div>

        <div class="collapse agenda-item" id="agenda11">
            <hr>
            <p>The next generation of Application Intelligence. Monitoring &amp; alerting our applications, helping us fix issues before they become a problem.</p>
        </div>
    </li>
</ul>
