<ul class="list-group">
    <li class="list-group-item">
        <strong>Emerging Technologies</strong><br>
        Alun &amp; Tom
    </li>

    <li class="list-group-item">
        <strong>Salesforce</strong><br>
        Bianca &amp; Jadene
    </li>

    <!-- <li class="list-group-item">
        <strong>Business Change 2016</strong><br>
        TBA
    </li> -->

    <li class="list-group-item">
        <strong>Continuous Integration</strong><br>
        Emile &amp; Jon
    </li>

    <li class="list-group-item">
        <strong>JIRA</strong><br>
        Ian &amp; Jimmy
    </li>

    <li class="list-group-item">
        <strong>Server Virtualisation</strong><br>
        Stuart
    </li>

    <li class="list-group-item">
        <strong>Security</strong><br>
        Peter &amp; Paul
    </li>

    <li class="list-group-item">
        <strong>MobileConnect</strong><br>
        Keith &amp; Ian
    </li>

    <li class="list-group-item">
        <strong>Mobile Access</strong><br>
        Mark &amp; Richard
    </li>

    <li class="list-group-item">
        <strong>Business Intelligence</strong><br>
        Tim &amp; Carl
    </li>

    <li class="list-group-item">
        <strong>Network Monitoring</strong><br>
        Derek &amp; Jordan
    </li>

    <li class="list-group-item">
        <strong>AppDynamics</strong><br>
        James &amp; Pete
    </li>
</ul>
