
<div class="btn-group-vertical btn-block btn-block-flexbox">
    <a href="#/map" class="btn btn-brand-red">
        <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-map-o fa-stack-1x text-muted"></i>
        </span>
        <div class="btn-text">Map</div>
    </a>
    <a href="#/agenda" class="btn btn-brand-orange">
        <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-list-ul fa-stack-1x text-muted"></i>
        </span>
        <div class="btn-text">Agenda</div>
    </a>
    <a href="#/info" class="btn btn-brand-purple">
        <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-info fa-stack-1x text-muted"></i>
        </span>
        <div class="btn-text">Info</div>
    </a>
</div>
