<div class="list-group">
    <a class="list-group-item">
        <strong>When</strong><br>
        10:00 &ndash; 13:00 Friday 5th February 2016
    </a>

    <a href="#/map" class="list-group-item">
        <strong>Where</strong><br>
        Meeting Room Suite, <br>
        Ground Floor, <br>
        Hambleden House
    </a>
</div>

<div class="container-fluid">
    <br>
    <p>The Technology function will be holding an IT Expo between 10:00 and 13:00 on Friday 5th February. The event will be held in the meeting room suite on the ground floor of Hambleden House.</p>
    <p>At the event, members of the Technology function will showcase some of the newer technologies which we have or are introducing to improve and support the Cashplan business.</p>
    <p>The Expo will consist of 12 stands, each with a particular focus. It will introduce you to weird and wonderfully named technologies and will demonstrate how they are contributing to the development and running of our systems applications, infrastructure and network. At the event you will have the oppurtunity to see these products in action and talk to the people who are implementing them.</p>
    <p>Unlike other Expo's, there won't be pressure to buy.</p>
    <p>So please take the time to come down and have a look. You should be able to cover all the stands in 90 minutes but you are free to wander around at your leisure.</p>

    <p>
        <hr>
        <a href="http://goo.gl/forms/7FwqjT0mqv" target="_blank" class="btn btn-block btn-primary">Got feedback?</a>
    </p>
</div>
